@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=EB+Garamond:ital@0;1&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1px;
  height: 100%;
  background: gray;
}

.thread-container {
  position: relative;
  background: oldlace;
  color: #1d2d35;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  gap: 12px;
  padding: 20px 10px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 700;
  font-size: 15px;
}

.aside > h1 {
  margin: 0;
  font-size: 16px;
  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.aside > div {
  color: white;
  border-radius: 8px;
  height: 54px;
  background-size: cover;
  background-position: center;
  background-color: #ceb9ed;
  background-blend-mode: multiply;
  overflow: hidden;
  padding: 4px 6px;
  cursor: pointer;
}

.item {
  position: relative;
  outline: 8px solid transparent;
  border-radius: 8px;
  border: 2px solid black;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 200px auto;
  background: white;
  overflow: hidden;
  cursor: pointer;
}

.item button {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  opacity: 0;
  transition: opacity 0.1s ease-in;
  border: none;
  background: magenta;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 14px;
  font-weight: 700;
  cursor: pointer;
}

.item:hover button {
  opacity: 1;
}

.item.focused {
  outline: 8px solid #ceb9ed;
}

.left {
  position: relative;
  background: black;
  display: grid;
  grid-template-rows: min-content auto;
  border-right: 2px solid black;
}

.item > .left > .head {
  color: #e2ecec;
  padding: 8px 2px 8px 6px;
}

.item > .left > .head > h1 {
  color: white;
  margin: 0;
  margin-top: -4px;
  font-size: 23px;
  margin-bottom: 2px;
}

.item > .left > .head > h2 {
  color: white;
  margin: 0;
  font-size: 16px;
  margin-bottom: 6px;
}

.item > .left > .head > p {
  font-size: 16px;
  font-family: "Archivo Narrow", sans-serif;
}
.item > .left > .head > .category {
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 12px;
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 1.5px;
  color: gray;
  text-transform: uppercase;
}

.item > .left > .image-box {
  position: relative;
  overflow: hidden;
  display: grid;
  background-size: cover;
  background-position: center;
  min-height: 200px;
}

.item > .right {
  padding: 4px 4px 3px 8px;
  line-height: 20px;
  font-size: 17px;
  font-family: "EB Garamond", serif;
}

p {
  margin: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  cursor: text;
}

.item > .right > img {
  display: block;
  margin: 5px auto 0 auto;
  max-width: 100%;
  max-height: 300px;
}

.bottom-message {
  font-size: 17px;
  font-family: "EB Garamond", serif;
  font-style: italic;
}
